.card {
    width: 180px;
    color: var(--primary);
    height: fit-content;
    background-color: var(--secondary);
    position: relative;



    &.top {
        background-color: var(--primary);
        color: var(--secondary);

        .containerCreated {
            color: var(--secondary);

            .edit {
                border-color: yellow;
            }

            .delete {
                border-color: red;
            }

            .fav {
                transition: all 0.3s ease-in-out;
                color: var(--secondary);

                &:hover {
                    color: red;
                }
            }

            .favPin {
                color: red;

                &:hover {
                    color: var(--secondary) !important;
                }
            }
        }

        .go {
            background-color: var(--secondary);
            color: var(--primary);

            &:hover {
                background-color: var(--primary);
                color: var(--secondary);
                border-color: gold;
            }
        }

        .topStar {
            position: absolute;
            top: 5px;
            background-color: gold;
            right: 0px;
            width: 30px;
            height: 30px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 30px;

            svg {
                font-size: var(--size-3);
                color: var(--primary);
                transition: all 0.3s ease-in-out;
            }

            &:hover {
                svg {
                    color: var(--secondary);
                }
            }
        }
    }

    label {
        text-decoration: underline;
        color: slateblue;
    }

    h2,
    p {
        text-transform: capitalize;
        margin: 0;
    }

    .star {
        svg {
            font-size: var(--size-2);
            color: gold;
        }
    }

    .containerCreated {
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: var(--primary);

        .user {
            text-transform: capitalize;
            margin-right: 4px;
            font-weight: bold;
        }

        .buttons {
            display: flex;

            button {
                display: flex;
                justify-content: center;
                align-items: center;
                border: 1px solid var(--primary);
                border-radius: 5px;
                cursor: pointer;
                transition: all 0.3s ease-in-out;

                svg {
                    font-size: var(--size-2);
                }
            }

            .fav {
                border: none;
                background-color: transparent;
                padding: 0;
                margin-right: 5px;

                svg {
                    font-size: var(--size-3);
                }

                &:hover {
                    color: red;
                }

            }

            .favPin {
                color: red;

                &:hover {
                    color: var(--primary);
                }
            }

            .delete {
                background-color: red;

                &:hover {
                    background-color: var(--primary);
                    color: red;
                }
            }

            .edit {
                background-color: yellow;
                margin: 0 5px;

                &:hover {
                    background-color: var(--primary);
                    color: yellow;
                }
            }
        }


    }

    .go {
        width: 80px;
        border: 1px solid var(--primary);
        border-radius: 5px;
        background-color: var(--primary);
        color: var(--secondary);
        transition: all 0.3s ease-in-out;
        cursor: pointer;
        margin-top: 10px;
        height: 30px;
        font-weight: bold;

        &:hover {
            background-color: var(--secondary);
            color: var(--primary);
        }
    }

}

.wModal {
    max-width: 180px;
    width: 100%;
    margin: 20px;
    color: var(--primary);
    background: var(--secondary);
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    transition: all 0.3s ease-in-out;
    border-radius: 10px;

    &:hover {
        box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    }

    .topStar {

        top: 10px !important;
        right: 10px !important;

    }

}

.colorOwn {
    label {
        color: tomato;
    }
}